@keyframes anime {
    0% { background-color: aqua;
         transform: rotate(30deg);
    }
    25% { background-color: aquamarine; }
    50% { background-color: blue; }
    100% { background-color: aqua; }
    }

.container {
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    transition: 1s;
    animation: anime 1s ease infinite;

}
  
.container:hover{
    transform: skew(45deg, 30deg);

}